$spacer: 5px;

$spaceSm: $spacer;
$spaceMd: $spacer*2;
$spaceLg: $spacer*3;

$contentWidthMax: 1920px;
$contentWidthInnerMax: 1200px;
$contentWidthSm: 700px;

$breakpointXL: 1280px;
$breakpointLg: 900px;
$breakpointMd: 700px;
$breakpointSm: 450px;