@use "sass:math";
@import "styles/settings/__settings";

.featuredImage {
    margin: 0 0 2em;

    div {
        position: relative;
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
    }
}